.wrapper {
    position: relative;
    width: 400px;
  }
  
  .dashed-box {
    position: relative;
    z-index: 1;
    border: dashed;
    height: 8em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  .gold-box {
    position: absolute;
    z-index: 3; /* put .gold-box above .green-box and .dashed-box */
    background: gold;
    width: 80%;
    left: 60px;
    top: 3em;
  }
  .green-box {
    position: absolute;
    z-index: 2; /* put .green-box above .dashed-box */
    background: lightgreen;
    width: 20%;
    left: 65%;
    top: -25px;
    height: 7em;
    opacity: 0.9;
  }

  .wrapper-two {
    position: relative;
    width: 400px;
  }

  .dashed-box-two {
    position: relative;
    z-index: 1;
    border: dashed;
    height: 8em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  .gold-box-two {
    position: absolute;
    z-index: 2; /* put .green-box above .dashed-box */
    background: gold;
    width: 20%;
    left: 65%;
    top: -25px;
    height: 7em;
    opacity: 0.9;
  }
  .green-box-two {
    position: absolute;
    z-index: 3; /* put .green-box above .gold-box and .dashed-box */
    background: lightgreen;
    width: 80%;
    left: 60px;
    top: 3em;
  }

  .wrapper-three {
    position: relative;
  }

  .red {
      background-color: red;
      border: 1px solid;
      position: relative;
      margin-bottom: 100px;
      width: 100px;
      height: 100px;
      left: 20px;
      top: 20px;
      z-index: -4;
  }

  .yellow {
      background-color: yellow;
      border: 1px solid;
      position: absolute;
      width: 100px;
      height: 100px;
      left: 40px;
      top: 40px;
      z-index: 2;
  }


  .blue {
    background-color: blue;
    border: 1px solid;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 60px;
    top: 60px;
    z-index: 3;
}

.wrapper-four {
    position: relative;
  }

  .pink {
      background-color: pink;
      border: 1px solid;
      position: relative;
      width: 100px;
      height: 100px;
      left: 20px;
      top: 20px;
      z-index: -4;
  }

  .orange {
      background-color: orange;
      border: 1px solid;
      position: absolute;
      width: 100px;
      height: 100px;
      left: 40px;
      top: 40px;
      z-index: 2;
  }


  .cyan {
    background-color: cyan;
    border: 1px solid;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 60px;
    top: 60px;
    z-index: 3;
}