/* Position must be relative to text align center */
body{
    position: relative;
    text-align: center;
}

div {
    background-color: #e0ebe8;
  }

.idea-img {
    width: 100px;
}

/* If you modify the width, set the margins to auto on all 4 sides so that the items will be centered*/
.skills{
    width: 50%;
    margin: auto;
}

